

.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  width: 100%;  
  height: 550px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  div {
    justify-content: center;
    align-items: center;
    div {
      text-align: center;
      justify-content: center;

      h1 {
        font-size: 20px;
        color: #333;
        margin-right: 500px;
        margin-bottom: 20px;
        gap: 20px;
        flex-direction: column;
        border-radius: 5px;
      }
    }
    .btn {
      background-color: transparent;
      border: none;
      font-size: 18px;
      position: absolute;
      top: 10px;
      right: 10px;
      &:hover {
        background-color: #fff5f5;
        transition: 0.4s;
      }
    }
    .text {
      border-radius: 9px;
      border: 2px solid #ddd;
      width: 550px;
      height: 120px;
      background-color: #f8f8f8;
      resize: none;
    }
    .btn1 {
      background-color: transparent;
      font-size: 24px;
      background-color: rgb(15, 214, 128);
     
    }
  
    
    .div3 {
      justify-content: center;
      text-align: center;
      gap: 30px;
      margin-right: 440px;
      display: flex;

    }
    .h1st {
      font-size: 20px;
      margin-top: 50px;
    }
    .div4 {
      margin-right: 400px;
      font-size: 20px;
      gap: 30px;
      display: flex;

    
    }
   .inp2{
    border-radius: 3px;
    border: 2px solid #ddd;
    width: 550px;
    height: 40px;
    background-color: #f8f8f8;
   }

    .com{
      font-size: 20px;
      background-size: cover;
      height: 200px;
      overflow-y: scroll;
    }
    }
    .window{
      display: flex;  
      flex-direction: column;
      align-items: flex-end;
    }
    .window div{
      width: 100%;
      background-color: rgb(192, 192, 192);
       margin: 10px;
       &:hover {
        background-color: rgb(88, 160, 219);
        transition: 0.4s;
        
      }
   
    }
  }



/*
localStorage.userid - vercnum enq comment grelu hamar
Modalum harkavore cuyc tal tvyal taski bolor commentner@
grichi hatvacn anel koxqi patuhan@ bacel 
archivi kochaki gorcoxutyun@ aysinqn click anelic texapoxum enq archive 
show menu sexmelis tesnum em archive bajin@
archivi click anelis tesnum em tvyal archivi mej gtnvox bolor tasker@
task@ hnaravor lini arxivic het hanel 
*/


